<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.jblog.api.login.mapper.LoginMapper">
    
	<select id="selectUser" parameterType="userVO" resultType="userVO">
		/*LoginMapper.selectUser*/
		select user_id as userId
		     , password as userPw
		     , user_name as userNm
		  from jblog.tb_user
		 limit 1
	</select>
    
</mapper>